py-cord
python-dotenv
aiosqlite
pycryptodome
aiofiles
pillow
aioftp
aiogoogle
psnawp
crc32c
numpy
zstandard
lz4
python-dateutil
audioop-lts ; python_version >= "3.13"
mmh3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
nicegui
pywebview
qtpy
pyqt6
PyQtWebEngine